<!-- Largest no is {{large}}
<div *ngFor='let quote of quotes;'>
    <p</p></p><p *ngIf = 'if quote.upvote == quote.upvote'></p>

</div>
<div *ngFor='let quote of quotes;' class="card shadow-lg p-3 mb-3 bg-body rounded">
    <p *ngIf='if quote.upvote == quote.upvote'>{{You the largest}}</p>
    <p *ngIf='quotes.length > 5'>Your goals are too many</p>
     <div>
      <h5 appHighlight *ngIf='quote.upvote == getMax()'>{{ quote.quote}}</h5>
    </div> -->
    <!-- <app-quote-details [quote]='quote'></app-quote-details>
  </div> -->
<app-quote></app-quote>

