<style>
  .card {
    padding: 20px;
  }

  main {
    margin: 10%;
    margin-top: 0%;
  }

  .col-md-7 {
    padding: 6%;
    padding-top: 1%;
  }

  .container>h1 {
    padding: 2%;
  }

</style>
<main>
  <div class="container">
    <h1 class="text-center">My Quotes</h1>
    <hr>
    <div class="row">
      <div class="col-md-7"> Largest no is {{large}}
        <div *ngFor='let quote of quotes; let i = index;' class="card shadow-lg p-3 mb-3 bg-body rounded">
          <!-- <div *ngIf='if quote.upvote !== large || quote.upvote ===0'>{{quote.quote}}</div>
          <div *ngIf='quotes.upvote === large && quote.upvote > 0'>
            <h5 appHighlight>{{ quote.quote}}</h5>
          </div> -->
          <h5 appHighlight>{{ quote.quote}}</h5>
          <app-quote-details [quote]='quote' (isDeleted)='deleteQuote($event,i)'></app-quote-details>
        </div>
      </div>
      <div class="col-md-5">
        <app-quote-form (addQuote)='addNewQuote($event)'></app-quote-form>
      </div>
    </div>
  </div>
</main>
