  .form {
    padding-bottom: 10%;
  }

  input {
    height: 50px;
  }

  label {
    margin-bottom: 1%;
    margin-top: 1%;
  }

  button {
    margin-top: 2%;
    background-color: navy;
    color: white;
  }
